.indicators-container {
  background-color: #f4f4f7;
  color: black;
  padding: 50px 200px 200px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  .container {
    padding: 50px 0;
  }
}
