.tables-container {
  padding: 20px;
  background-color: #f9f9f9; // Light background for the container
  border-radius: 24px; // Rounded corners
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Subtle shadow for depth

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 16px;
    color: #333; // Darker text color for the header
    margin-bottom: 0;
  }

  .wrapper {
    display: flex;
    gap: 10px; // Space between filter and download button
  }

  table {
    width: 100%; // Full width
    border-collapse: separate; // Change to separate
    border-spacing: 0; // Remove spacing between cells
    margin-top: 20px; // Space above the table
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden; // Ensure corners are rounded
  }

  th,
  td {
    text-align: center; // Align text to the center for all cells
    color: #1e1e1e; // Text color
  }

  th {
    background-color: #f1f4ff; // Background color for header
    padding: 15px; // Padding inside cells
    font-size: 14px;
  }

  td {
    // font-family: FiraGORegular;
    background-color: #fff; // White background for data cells
    border-bottom: 1px solid #e0e0e0; // Bottom border for data cells
    font-feature-settings: "case" off;
    font-size: 14px;
  }

  // Make row headers bold and left-aligned
  td:first-child {
    display: flex;
    white-space: nowrap; // Prevent wrapping to keep the width minimal
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; // Light gray for even rows
  }

  tr:hover {
    background-color: #ddd; // Highlight row on hover
  }

  .units {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 15px;
    }

    p {
      font-size: 1rem;
      color: #444;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 400px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      margin-bottom: 8px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      span:first-child {
        font-weight: bold;
        color: #007bff;
      }

      span:last-child {
        font-style: italic;
        color: #28a745;
      }
    }
  }
}

.units {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }

  p {
    font-size: 0.9rem;
    color: #444;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    span:first-child {
      font-weight: bold;
      color: #007bff;
    }

    span:last-child {
      font-style: italic;
      color: #28a745;
    }
  }
}
