@use "/src/styles/_breakpoints.scss" as *;

.tables-container {
  padding: 20px;
  background-color: #f9f9f9; // Light background for the container
  border-radius: 24px; // Rounded corners
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 6px; // Horizontal scrollbar thickness
  }

  &::-webkit-scrollbar-thumb {
    background: #084e99;
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: #b9c3c9; // Track color
    border-radius: 10px;
    cursor: pointer;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
  }

  h1 {
    font-size: 16px;
    color: #333; // Darker text color for the header
    margin-bottom: 0;
  }

  .wrapper {
    display: flex;
    gap: 10px; // Space between filter and download button
  }

  table {
    width: 100%; // Full width
    border-collapse: separate; // Change to separate
    border-spacing: 0; // Remove spacing between cells
    margin-top: 20px; // Space above the table
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden; // Ensure corners are rounded
  }

  th,
  td {
    text-align: center; // Align text to the center for all cells
    color: #1e1e1e; // Text color
  }

  th {
    background-color: #f1f4ff; // Background color for header
    padding: 15px; // Padding inside cells
    font-size: 14px;
  }

  td {
    background-color: #fff; // White background for data cells
    border-bottom: 1px solid #e0e0e0; // Bottom border for data cells
    font-feature-settings: "case" off;
    font-size: 14px;
  }

  td:first-child {
    display: flex;
    white-space: nowrap; // Prevent wrapping to keep the width minimal
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; // Light gray for even rows
  }

  tr:hover {
    background-color: #ddd; // Highlight row on hover
  }
}

.units {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  font-feature-settings: "case" off;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }

  p {
    font-size: 0.9rem;
    color: #444;
    display: flex;
    justify-content: space-between;
    width: 35%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    transition: transform 0.2s ease-in-out;

    span:first-child {
      font-weight: bold;
      color: #007bff;
    }

    span:last-child {
      font-style: italic;
      color: #28a745;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .tables-container {
    padding: 15px;

    h1 {
      font-size: 14px;
    }

    th {
      background-color: #f1f4ff; // Background color for header
      padding: 10px; // Padding inside cells
      font-size: 12px;
    }

    td {
      font-size: 12px;
    }
  }

  .units {
    h3 {
      font-size: 0.9rem;
      margin-bottom: 12px;
    }

    p {
      font-size: 0.8rem;
      width: 35%;
      margin-bottom: 6px;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .tables-container {
    padding: 15px;

    h1 {
      font-size: 13px;
    }

    th {
      background-color: #f1f4ff; // Background color for header
      padding: 8px; // Padding inside cells
      font-size: 11px;
    }

    td {
      font-size: 11px;
    }
  }

  .units {
    h3 {
      font-size: 0.8rem;
      margin-bottom: 12px;
    }

    p {
      font-size: 0.7rem;
      width: 35%;
      margin-bottom: 6px;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .tables-container {
    padding: 15px;

    h1 {
      font-size: 12px;
    }

    th {
      background-color: #f1f4ff; // Background color for header
      padding: 6px; // Padding inside cells
      font-size: 10px;
    }

    td {
      font-size: 10px;
    }
  }

  .units {
    padding: 0;

    h3 {
      font-size: 0.8rem;
      margin-bottom: 12px;
    }

    p {
      font-size: 0.7rem;
      width: 80%;
      margin-bottom: 6px;
    }
  }
}
