.tables-container {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #1e1e1e;
      font-size: 16px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
