@use "/src/styles/_breakpoints.scss" as *;

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0 200px;
  width: 100%;
}

.chart-4 {
  grid-column: 2; /* Place in the second column */
  grid-row: 2 / span 2; /* Span two rows */
}

.main-chart {
  display: flex; /* Use flexbox to allow children to grow */
  flex-direction: column; /* Stack children vertically */
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .charts-container {
    grid-template-columns: 1fr; /* Only one column */
  }

  .chart-4 {
    grid-column: auto; /* Remove explicit column placement */
    grid-row: auto; /* Reset row spanning */
  }

  .sankey-1 {
    max-width: 100% !important;
    width: 90% !important;
  }

  .main-chart,
  .single-area-chart {
    padding: 20px 20px 0 0;
    width: 80%;
    max-width: 700px;
    margin: auto;

    .header-container {
      .text-wrapper {
        h2 {
          font-size: 14px;
        }

        h3 {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .sankey-1 {
    max-width: 100% !important;
    width: 100% !important;
  }

  .main-chart,
  .single-area-chart {
    padding: 10px 10px 0 0px;
    width: 90%;
    margin: auto;

    .header-container {
      gap: 10px;
      margin-bottom: 0;
      padding-left: 10px;
      flex-direction: column;

      svg {
        width: 20px;
        height: 20px;
      }

      .text-wrapper {
        min-height: 0;

        h2 {
          font-size: 12px;
        }

        h3 {
          font-size: 10px;
        }
      }
    }
  }
  .charts-container {
    display: flex;
    flex-direction: column;

    .chart-4 {
      grid-column: auto; /* Remove explicit column placement */
      grid-row: auto; /* Reset row spanning */
    }

    .main-chart,
    .single-area-chart {
      padding: 10px 10px 0 0px;
      width: 90%;
      margin: auto;

      .header-container {
        gap: 10px;
        margin-bottom: 0;
        padding-left: 10px;
        flex-direction: column;

        svg {
          width: 20px;
          height: 20px;
        }

        .text-wrapper {
          min-height: 0;

          h2 {
            font-size: 12px;
          }

          h3 {
            font-size: 10px;
          }
        }
      }
    }
  }
}
