@use "/src/styles/_breakpoints.scss" as *;

.pie-chart {
  width: 100%;

  .header-container {
    gap: 15px;
    align-items: center;

    .text-wrapper {
      min-height: 0;
    }

    .info-wrapper {
      flex: 1;
    }
  }

  .years-container {
    .heading {
      width: max-content;
      float: right;
    }

    .dropdown-content {
      width: max-content;
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .pie-chart {
    width: 80% !important;
    .header-container {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 400px) {
  .pie-chart {
    width: 100% !important;
  }
}
