@use "/src/styles/_breakpoints.scss" as *;

.final-consumption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  .last-chart {
    grid-column: 2/2;
    margin-top: -250px;
  }

  .main-chart {
    padding-bottom: 60px;
    grid-row: auto;

    .ss {
      gap: 20px !important;
      flex-wrap: wrap !important;
      margin-top: -20px !important;
      justify-content: normal !important;
      padding: 0 50px !important;
    }

    .ss-1 {
      margin-top: -150px !important;
    }

    #consumption-3 {
      margin-top: -80px !important;
    }

    #consumption-2 {
      margin-top: -50px !important;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($tablet - 1px)) {
  .final-consumption {
    display: flex;
    flex-direction: column;

    .last-chart {
      margin-top: 0;
    }
  }
}
