@use "/src/styles/_breakpoints.scss" as *;

.tables {
  background-color: #f4f4f7;
  color: black;

  .tables-wrapper {
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 200px 200px 200px;
    margin: auto;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: #6f6f6f;
    gap: 20px;

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-feature-settings: "case" off;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    svg {
      flex-shrink: 0;
    }
    .selected {
      color: black;
      font-weight: 900;

      svg {
        path {
          fill: #1e1e1e;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .tables {
    .tables-wrapper {
      padding: 40px 100px 200px 100px;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .tables {
    .tables-wrapper {
      padding: 40px 50px 200px 50px;

      ul {
        justify-content: space-between;
        overflow-x: auto;
        gap: 20px;

        &::-webkit-scrollbar {
          height: 4px; // Horizontal scrollbar thickness
        }

        &::-webkit-scrollbar-thumb {
          background: #084e99;
          border-radius: 10px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-track {
          background: #b9c3c9; // Track color
          border-radius: 10px;
          cursor: pointer;
        }

        .wrapper {
          li {
            padding: 10px;
            font-size: 13px;
            width: max-content;

            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .tables {
    .tables-wrapper {
      padding: 30px 30px 100px 30px;

      ul {
        overflow-x: auto;
        gap: 20px;
        justify-content: space-between;

        &::-webkit-scrollbar {
          height: 4px; // Horizontal scrollbar thickness
        }

        &::-webkit-scrollbar-thumb {
          background: #084e99;
          border-radius: 10px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-track {
          background: #b9c3c9; // Track color
          border-radius: 10px;
          cursor: pointer;
        }

        .wrapper {
          li {
            font-size: 11px;
            width: max-content;
            padding: 5px;
            gap: 10px;

            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
