@use "/src/styles/_breakpoints.scss" as *;
@import url("./fonts.scss");
@import url("/src/assets/components/Header/Header.scss");
@import url("/src/assets/components/Socials/Socials.scss");
@import url("/src/assets/components/Footer/Footer.scss");
@import url("/src/assets/components/ErrorPage/ErrorPage.scss");
@import url("/src/assets/components/LanguageChanger/LanguageChanger.scss");
@import url("/src/assets/components/Section/Sections/Consumption/Consumption.scss");
@import url("/src/assets/components/Section/Sections/Visualization/Visualization.scss");
@import url("/src/assets/components/Section/Sections/Statistics/Statistics.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: FiraGOLight;
  font-weight: 500;
  background-color: #f4f4f7;
  overflow-x: hidden;
}

.recharts-surface {
  overflow: visible;
}

.legend-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  margin-left: 50px;
  font-size: 14px;
  padding: 8px 0;

  p {
    display: flex;
    gap: 5px;
    font-size: 14px;

    span {
      width: 14px;
      height: 14px;
      background-color: currentColor;
    }
  }
}

.custom-tooltip {
  padding: 20px 40px 20px 20px;
  background-color: #111729;
  color: #ffffff;
  border-radius: 14px;

  .tooltip-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      font-size: 14px;
      align-items: center;

      .before-span {
        width: 12px;
        height: 12px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .legend-container {
    p {
      font-size: 13px;

      span {
        width: 12px;
        height: 12px;
      }
    }
  }

  .custom-tooltip {
    padding: 15px 30px 15px 15px;

    .tooltip-container {
      gap: 13px;

      p {
        font-size: 13px;
        align-items: center;

        .before-span {
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .legend-container {
    p {
      font-size: 12px;

      span {
        width: 11px;
        height: 11px;
      }
    }
  }

  .custom-tooltip {
    padding: 13px 25px 13px 13px;

    .tooltip-container {
      gap: 12px;

      p {
        font-size: 12px;
        align-items: center;

        .before-span {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .legend-container {
    gap: 10px;

    p {
      font-size: 10px;

      span {
        width: 10px;
        height: 10px;
      }
    }
  }

  .custom-tooltip {
    padding: 13px 25px 13px 13px;

    .tooltip-container {
      gap: 12px;

      p {
        font-size: 10px;
        align-items: center;

        .before-span {
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}
