.consumption {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #ffffff;
  font-feature-settings: "case" on;
  display: flex;
  flex-direction: column;

  /* სექციის ფონი */

  h1 {
    font-family: FiraGORegular;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
      font-size: 0.8em;
    }
  }

  .container {
    padding: 50px 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;

    .links {
      a {
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        gap: 100px;

        a {
          display: flex;
        }

        .wrapper {
          position: relative;
          background-color: transparent;
          display: flex;

          li {
            padding: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
            color: #ffffff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: inherit;
          }

          li.selected {
            background-color: #ffffff;
            color: #3c77f2;
            font-family: FiraGOMedium;

            svg {
              path {
                fill: #3c77f2;
              }
            }
          }

          .left-span {
            left: -20px;
          }

          .right-span {
            right: -20px;
          }
        }
      }
    }
  }
}
