@use "/src/styles/_breakpoints.scss" as *;

.container-ss {
  background-color: #f4f4f7;

  .heating-container {
    padding: 40px 200px 200px 200px;
    display: flex;
    justify-content: space-between;
    color: black;
    gap: 40px;
    max-width: 1800px;
    margin: auto;

    .hot-water-chart {
      max-width: 800px;
      width: 70%;
      margin: auto;
    }

    h1 {
      text-align: center;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .container-ss {
    .heating-container {
      padding: 40px 100px 200px 100px;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .container-ss {
    .heating-container {
      padding: 40px 50px 200px 50px;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .container-ss {
    .heating-container {
      padding: 30px 30px 100px 30px;
      flex-direction: column;

      .hot-water-chart {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
