header {
  background-color: #ffffff;
  color: #1e1e1e;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0 4px 8px #0003;

  .header-container {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
      gap: 15px;
      align-items: center;

      .text {
        margin-top: 12px;
      }
    }

    .left {
      display: flex;
      gap: 130px;
      align-items: center;

      .texts {
        display: flex;
        gap: 15px;

        .bold {
          font-weight: 600;
        }

        h1 {
          font-size: 14px;
          font-weight: 500;
        }

        .choose-section {
          display: flex;
          gap: 5px;
          align-items: center;
          cursor: pointer;
        }

        .sections-container {
          width: max-content;
          position: absolute;
          top: 100%;
          background-color: #ffffff;
          padding: 20px;
          font-size: 14px;
          z-index: 1;

          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
              cursor: pointer;
            }

            li:not(:last-child) {
              border-bottom: 1px solid #efefef;
              padding-bottom: 10px;
            }
          }

          .selected {
            background-color: #f2f6ff;
            border: 1px solid #a0bfff;
            border-radius: 6px;
          }
          p {
            padding: 15px;
          }
        }
      }

      .socials {
        display: flex;
        gap: 30px;

        button {
          display: flex;
          font-size: 14px;
          align-items: center;
          gap: 12px;
          padding: 12px;
          background-color: #ffffff;
          border: 0.5px solid #a0a0a0;
          border-radius: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
