@use "/src/styles/_breakpoints.scss" as *;

.names-years-container {
  position: relative;

  .svg-wrapper {
    padding: 5px 8px;
    background-color: #f4f4f7;
    border-radius: 50%;
  }

  .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    justify-content: space-between;

    h3 {
      font-size: 15px;
      font-weight: 400;
      font-weight: 900;
    }
  }

  .dropdown-content {
    position: absolute;
    background: #ffffff;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
    gap: 5px;

    .wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 0.5px solid transparent;
      cursor: pointer;
      padding: 5px;

      .svg-wrapper {
        padding: 50px;
      }

      &:hover {
        background: #f2f6ff;
        border: 0.5px solid #a0bfff;
        border-radius: 8px;
      }

      p {
        color: #1e1e1e;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .names-years-container {
    .svg-wrapper {
      padding: 4px 6px;
      svg {
        width: 12px;
      }
    }

    .heading {
      gap: 10px;
      padding: 10px;
      justify-content: space-between;

      h3 {
        font-size: 13px;
      }
    }

    .dropdown-content {
      padding: 10px 8px;
      width: 100%;
      margin-top: 10px;
      height: 200px;
      gap: 5px;

      .wrapper {
        gap: 10px;
        padding: 5px;

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($tablet - 1px)) {
  .names-years-container {
    .svg-wrapper {
      padding: 2px 3px;
      svg {
        width: 10px;
      }
    }

    .heading {
      gap: 10px;
      padding: 10px;
      justify-content: space-between;

      h3 {
        font-size: 12px;
      }
    }

    .dropdown-content {
      padding: 10px 8px;
      width: 100%;
      margin-top: 10px;
      height: 200px;
      gap: 5px;

      .wrapper {
        gap: 10px;
        padding: 5px;

        p {
          font-size: 11px;
        }
      }
    }
  }
}
