@use "/src/styles/_breakpoints.scss" as *;

.table-filter-1 {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  font-feature-settings: "case" off;
  position: relative;

  &:hover {
    border: 1px solid #3c77f2;
  }

  .dropdown-content {
    position: absolute;
    background: #ffffff;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 1;
    margin-top: 50px;
    gap: 30px;
    padding: 30px;
    width: max-content;

    .section {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .carry {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: start;
        }
      }
    }

    h3 {
      font-size: 14px;
    }
  }
}

.open {
  border: 1px solid #3c77f2;
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .table-filter-1 {
    gap: 10px;
    padding: 10px;
    font-size: 12px;

    .dropdown-content {
      margin-top: 40px;
      gap: 20px;
      padding: 20px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .wrapper {
          gap: 5px;

          .carry {
            gap: 5px;
          }
        }
      }

      h3 {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .table-filter-1 {
    gap: 10px;
    padding: 8px;
    font-size: 12px;

    svg {
      width: 12px !important;
      height: 12px !important;
    }

    .dropdown-content {
      margin-top: 30px;
      gap: 20px;
      padding: 20px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .wrapper {
          gap: 5px;

          .carry {
            gap: 5px;
          }
        }
      }

      h3 {
        font-size: 12px;
      }
    }
  }
}
