.visualization {
  color: #ffffff;
  font-feature-settings: "case" on;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #2c3e50 -23.05%, #3498db 132.08%);

  h1 {
    font-family: FiraGORegular;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .container {
    padding: 50px 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;

    .links {
      a {
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        justify-content: start;
        gap: 100px;

        a {
          display: flex;
        }

        .wrapper {
          position: relative;
          background-color: transparent;
          display: flex;

          li {
            padding: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
            color: #ffffff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: inherit;
          }

          li.selected {
            background-color: #ffffff;
            color: #3c77f2;
            font-weight: 700;
          }
        }
      }
    }
  }
}
