@use "/src/styles/_breakpoints.scss" as *;

.visualization {
  color: #ffffff;
  font-feature-settings: "case" on;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #2c3e50 -23.05%, #3498db 132.08%);

  h1 {
    font-family: FiraGORegular;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }

  .container {
    padding: 50px 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    width: 100%;

    .links {
      a {
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        gap: 30px;

        a {
          display: flex;
        }

        .wrapper {
          position: relative;
          background-color: transparent;
          display: flex;

          li {
            padding: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
            color: #ffffff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: inherit;
            gap: 20px;
            font-size: 15px;
            text-transform: capitalize;
            font-feature-settings: "case" on;

            svg {
              flex-shrink: 0;
            }
          }

          li.selected {
            background-color: #ffffff;
            color: #3c77f2;
            font-family: FiraGOMedium;

            svg {
              path {
                stroke: #3c77f2;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) and (max-width: $ultrawide) {
  .visualization {
    .container {
      max-width: 1800px;
      margin: auto;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .visualization {
    .container {
      padding: 50px 100px 0 100px;

      .links {
        ul {
          gap: 35px;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .visualization {
    h1 {
      font-size: 1.3em;
    }

    .container {
      padding: 30px 50px 0 50px;
      gap: 30px;

      .links {
        ul {
          justify-content: space-between;
          overflow-x: auto;
          gap: 20px;

          &::-webkit-scrollbar {
            height: 6px; // Horizontal scrollbar thickness
          }

          &::-webkit-scrollbar-thumb {
            background: #084e99;
            border-radius: 10px;
            cursor: pointer;
          }

          &::-webkit-scrollbar-track {
            background: #b9c3c9; // Track color
            border-radius: 10px;
            cursor: pointer;
          }

          .wrapper {
            li {
              padding: 10px;
              font-size: 13px;

              svg {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .visualization {
    h1 {
      font-size: 1em;
    }

    .container {
      padding: 30px 30px 0 30px;
      gap: 30px;

      .links {
        margin-top: 30px;

        ul {
          gap: 10px;
          overflow-x: auto;

          &::-webkit-scrollbar {
            height: 4px; // Horizontal scrollbar thickness
          }

          &::-webkit-scrollbar-thumb {
            background: #084e99;
            border-radius: 10px;
            cursor: pointer;
          }

          &::-webkit-scrollbar-track {
            background: #b9c3c9; // Track color
            border-radius: 10px;
            cursor: pointer;
          }

          .wrapper {
            li {
              padding: 5px;
              gap: 10px;
              font-size: 11px;

              svg {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}
