.main-chart {
  background-color: #fff;
  border-radius: 24px;
  padding: 30px 30px 40px 0;

  h2 {
    font-size: 16px;
    color: #1e1e1e;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
  }

  h3 {
    padding-left: 70px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 14px;
    display: flex;
    gap: 5px;

    .before-span {
      width: 14px;
      height: 14px;
      background-color: currentColor;
    }
  }

  .custom-tooltip {
    padding: 20px 40px 20px 20px !important;
    background-color: #111729;
    color: #ffffff;
    border-radius: 14px;
    font-family: FiraGOLight;

    .tooltip-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .recharts-responsive-container {
    .recharts-legend-wrapper {
      position: initial !important;

      .legend-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        p {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;

          span {
            width: 14px;
            height: 14px;
            background-color: currentColor;
          }
        }
      }
    }
  }
}
