@use "/src/styles/_breakpoints.scss" as *;

.electricity {
  background-color: #f4f4f7;
  color: black;

  .ss-container {
    padding: 40px 200px 200px 200px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    max-width: 1800px;
    margin: auto;

    .div {
      display: flex;
      gap: 40px;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $mid) {
  .electricity {
    .ss-container {
      padding: 40px 100px 200px 100px;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .electricity {
    .ss-container {
      padding: 40px 100px 200px 100px;

      .div {
        flex-direction: column;

        .div-4 {
          display: none;
        }

        .main-chart {
          padding: 20px 20px 0 0;
          width: 100%;
          // max-width: 700px;
          margin: auto;

          .header-container {
            .text-wrapper {
              h2 {
                font-size: 14px;
              }

              h3 {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .electricity {
    .ss-container {
      padding: 30px 15px 100px 15px;

      .div {
        flex-direction: column;

        .div-4 {
          display: none;
        }

        .main-chart {
          padding: 10px 10px 0 0px;
          width: 90%;
          margin: auto;

          .header-container {
            gap: 10px;
            margin-bottom: 0;
            padding-left: 10px;

            svg {
              width: 20px;
              height: 20px;
            }

            .text-wrapper {
              min-height: 0;

              h2 {
                font-size: 12px;
              }

              h3 {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
