.statistics {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #ffffff;
  font-feature-settings: "case" on;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #136a8a 0%, #267871 100%);

  h1 {
    font-family: FiraGORegular;
    letter-spacing: 0.02em;
  }

  .main-chart {
    flex: 1;
  }

  .download-container {
    flex: none;
  }

  .child-container {
    padding: 50px 200px 200px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #f4f4f7;
    color: black;
    gap: 45px;
  }

  .container {
    padding: 50px 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;

    .links {
      a {
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        gap: 100px;

        a {
          display: flex;
        }

        .wrapper {
          position: relative;
          background-color: transparent;
          display: flex;

          li {
            padding: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
            color: #ffffff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: inherit;
            gap: 20px;
          }

          li.selected {
            background-color: #ffffff;
            color: #3c77f2;
            font-family: FiraGOMedium;

            svg {
              path {
                fill: #3c77f2;
              }
            }
          }
        }
      }
    }
  }
}
